# Python, R, etc.
__pycache__
*-checkpoint.ipynb
*.bak
*.dat
*.egg-info
*.eggs
*.lxi
*.pyc
*.RData*
*.tmp
*.swp
*#
*~
#*

# GAMS
*.~gm
*.~op
*.gch
*.gdx
*.gpr
*.log
*.lst
message_ix/model/2*/**
message_ix/model/$gms*
message_ix/model/MESSAGE_master.gms
message_ix/model/cplex.op*

# Sphinx
doc/_build
doc/bibtex.json
doc/model

# setuptools
build
dist

# testdb
.cache/**
tests/data/nightly

# Python tooling, pytest, etc.
.benchmarks
.coverage*
.mypy_cache
.pytest_cache
.ruff_cache
coverage.xml
htmlcov
prof/

# Editors and IDEs
# JetBrains IDEs incl. PyCharm
/**/.idea

# RStudio
.Rproj.user
.vscode

# macOS
.DS_Store

# LPdiag
message_ix/tests/data/lp_diag/diet_output.txt
message_ix/tools/lp_diag/data/mps/*
/message_ix/model/output
