# Python, R, etc.
*-checkpoint.ipynb
*.bak
*.dat
*.egg-info
*.eggs
*.lxi
*.pyc
*.RData*
*.tmp
*#
*~
#*

# GAMS
*.~gm
*.~op
*.gch
*.gdx
*.gpr
*.log
*.lst
message_ix/model/2*/**
message_ix/model/$gms*
message_ix/model/MESSAGE_master.gms
message_ix/model/cplex.opt

# Sphinx
doc/_build
doc/bibtex.json
doc/model

# setuptools
build
dist

# testdb
.cache/**
tests/data/nightly

# pytest and related
.benchmarks
.coverage*
.mypy_cache
.pytest_cache
coverage.xml
htmlcov
prof/

# Editors and IDEs
# JetBrains IDEs incl. PyCharm
/**/.idea

# RStudio
.Rproj.user
.vscode

# macOS
.DS_Store
