# GAMS, R, Python-specific auxiliary files
*.~gm
*.bak
*.egg-info
*.~op
*.pyc
*.gdx
*.lst
*.log
*.lxi
*.gch
*.gpr
/model/2*/**
/model/$gms*
*.dat
*.tmp
*.RData*
*.pyc
*-checkpoint.ipynb
*~
#*
*#
.
*.eggs

# MESSAGEix specifics
message_ix/model/MESSAGE_master.gms
message_ix/model/cplex.opt

# Apple file system
.DS_Store

# Sphinx
doc/_build
doc/bibtex.json
doc/model

# setuptools
build
dist

# testdb
.cache/**
tests/data/nightly
.Rproj.user

# pytest and related
.benchmarks
.coverage*
.mypy_cache
prof/
.pytest_cache
coverage.xml
htmlcov

# JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
/**/.idea
