repos:
- repo: local
  hooks:
  - id: mypy
    name: mypy
    always_run: true
    require_serial: true
    pass_filenames: false

    language: python
    entry: bash -c ". ${PRE_COMMIT_MYPY_VENV:-/dev/null}/bin/activate 2>/dev/null; mypy $0 $@"
    additional_dependencies:
    - mypy >= 1.12.0
    - asyncssh
    - git+https://github.com/iiasa/ixmp.git@main
    - importlib_resources
    - matplotlib
    - pandas-stubs
    - pytest
    - Sphinx
    - types-PyYAML
    - types-requests
    args: ["."]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
  - id: ruff-format
    args: [ --check ]
