language: minimal

matrix:
    include:
        - os: linux
          env: PYENV=py37
        - os: osx
          env: PYENV=py37
# turn these on once travis support gets a little better
#        - os: windows
#          env: PYENV=py37
#        - os: windows
#          env: PYENV=py27

before_install:
  - source ./ci/env.sh
  - bash ./ci/travis-install.sh
  - source activate testing

install:
  - git clone https://github.com/iiasa/ixmp.git
  - cd ixmp && python setup.py install && cd ..
  - pip install .[reporting]

script:
  - python -c "import os, sys; assert os.environ['PYVERSION'] == sys.version[0]"
  - cd tests
  - py.test --verbose --cov=message_ix --cov-config ../ci/.coveragerc --cov-report term-missing
  - cd ..
  - cd tests/ci
  - if [[ ! -z "${MESSAGE_IX_CI_USER}" ]]; then ./run_on_ci.sh; fi
  - cd ../..
  - messageix-config --model_path=message_ix/model
  - cd doc
  - pip install -r requirements.txt
  - make html

after_success:
  - coveralls
