language: minimal

matrix:
  include:
  - os: linux
    env: PYENV=py37
  - os: osx
    env: PYENV=py37
  # Turn these on once Travis Windows support improves
  # - os: windows
  #   env: PYENV=py37
  # - os: windows
  #   env: PYENV=py27

before_install:
  # Set other environment variables
  - . ci/env.sh
  # Download GAMS and Miniconda
  - . ci/travis-before_install.sh

install:
  # Install GAMS, conda, and Python dependencies needed for testing
  - . ci/travis-install.sh
  # Install the Python package
  - pip install --editable .[reporting,tests,tutorial]

script:
  - python -c "import os, sys; assert os.environ['PYVERSION'] == sys.version[0]"
  # Run tests
  - pytest --verbose
  # Run slow-running CRON tests
  - cd tests/ci
  - if [[ ! -z "${MESSAGE_IX_CI_USER}" ]]; then ./run_on_ci.sh; fi
  - cd ../..
  - messageix-config --model_path=message_ix/model
  # Test that documentation can be built
  - cd doc
  - pip install -r requirements.txt
  - make html

after_success:
  - coverage combine
  - codecov
