asyncssh
click
codecov
dask

# Temporary exclusions: see iiasa/ixmp#279
JPype1 != 0.7.2, != 0.7.3, != 0.7.4

jupyter
jupyter_console >= 6
matplotlib
numpy
numpydoc
pandas
pint
plotnine
pytest-cov
pytest >= 3.9
scipy
seaborn
sphinx >= 2.3
sphinx_rtd_theme
sphinxcontrib-bibtex
statsmodels
xarray
xlrd
XlsxWriter
