asyncssh
click
codecov
dask
JPype1
jupyter
jupyter_console>=6
matplotlib
numpy
numpydoc
pandas
pint
plotnine
pytest-cov
pytest>=3.9
scipy
seaborn
sphinx_rtd_theme
sphinx>=1.8
sphinxcontrib-bibtex
statsmodels
xarray
xlrd
XlsxWriter
