# message_ix 2.0.x branch tracks ixmp 2.0.x branch
git+git://github.com/iiasa/ixmp.git@2.0.x#egg=ixmp

# pyam-iamc
# Temporary: see https://github.com/IAMconsortium/pyam/issues/259
git+git://github.com/IAMconsortium/pyam.git#egg=pyam-iamc
