# Always track ixmp master
git+git://github.com/iiasa/ixmp.git#egg=ixmp

# pyam-iamc
# Temporary: see https://github.com/IAMconsortium/pyam/issues/259
git+git://github.com/IAMconsortium/pyam.git#egg=pyam-iamc
