codecov

# Always track ixmp master
git+git://github.com/iiasa/ixmp.git#egg=ixmp

jupyter
matplotlib
numpydoc
pandas
pytest>=3.9
pytest-cov

# Temporary; see https://github.com/IAMconsortium/pyam/issues/259
git+git://github.com/IAMconsortium/pyam.git#egg=ixmp

sphinx>=1.8
sphinx_rtd_theme
sphinxcontrib-bibtex
xlrd
XlsxWriter
