# Requirements for documentation build on RTD
#
# These *should* generally align with env.upstream-versions
# in .github/workflows/pytest.yaml

# Temporary, pending https://github.com/iiasa/ixmp4/pull/171.
# TODO Remove once the PR is merged and a new version is released.
git+https://github.com/iiasa/ixmp4@enh/remove-linked-items-when-removing-indexset-items

gamsapi [core,transfer] >= 45.7.0
git+https://github.com/iiasa/ixmp.git@main#egg=ixmp
