# Verify that installation from conda-forge works as intended

name: Install from conda-forge

on:
  # 05:00 UTC = 06:00 CET = 07:00 CEST
  schedule:
  - cron: "0 5 * * *"
  # Uncomment to debug
  # pull_request:
  #   branches: [ main ]

env:
  # Name of the test environment to create
  CONDA_ENV: testenv

jobs:
  conda:
    strategy:
      matrix:
        os: [windows-latest, macos-latest]
        conda_type: [anaconda, miniconda]
        extra_deps:
          - ""
          - "JPype1=1.2.1"

    runs-on: ${{ matrix.os }}
    name: ${{ matrix.conda_type }}

    steps:
    - name: Cache Anaconda installer, conda packages
      uses: actions/cache@v2
      with:
        path: |
          $CONDA/pkgs
          ~/.conda/pkgs
          ~/anaconda3/pkgs
          ~/appdata/local/conda/conda/pkgs
          ${{ github.workspace }}/Anaconda*.*
        key: ${{ matrix.os }}-${{ matrix.conda_type }}

    - name: Download and install Anaconda for Windows; add to PATH
      if: ${{ matrix.os == 'windows-latest' }} && ${{ matrix.conda_type == 'anaconda' }}
      working-directory: ${{ github.workspace }}
      run: |
        curl -O https://repo.anaconda.com/archive/Anaconda3-2021.05-Windows-x86_64.exe
        Start-Process "Anaconda3-2021.05-Windows-x86_64.exe" "/S", "/D=${env:GITHUB_WORKSPACE}\anaconda3" -Wait
        "${env:GITHUB_WORKSPACE}/anaconda3/Scripts" | Out-File -FilePath $env:GITHUB_PATH -Append

    - name: Download and install Miniconda for Windows; add to PATH
      if: ${{ matrix.os == 'windows-latest' }} && ${{ matrix.conda_type == 'miniconda' }}
      working-directory: ${{ github.workspace }}
      run: |
        curl -O https://repo.anaconda.com/miniconda/Miniconda3-latest-Windows-x86_64.exe
        Start-Process "Miniconda3-latest-Windows-x86_64.exe" "/S", "/D=${env:GITHUB_WORKSPACE}\miniconda3" -Wait
        "${env:GITHUB_WORKSPACE}/miniconda3/Scripts" | Out-File -FilePath $env:GITHUB_PATH -Append

    - name: Download and install Anaconda for MacOS; add to PATH
      if: ${{ matrix.os == 'macos-latest' }} && ${{ matrix.conda_type == 'anaconda' }}
      working-directory: ${{ github.workspace }}
      run: |
        curl -O https://repo.anaconda.com/archive/Anaconda3-2021.05-MacOSX-x86_64.pkg
        Start-Process "Anaconda3-2021.05-MacOSX-x86_64.pkg" "/S", "/D=${env:GITHUB_WORKSPACE}\anaconda3" -Wait
        "${env:GITHUB_WORKSPACE}/anaconda3/Scripts" | Out-File -FilePath $env:GITHUB_PATH -Append

    - name: Download and install Miniconda for MacOS; add to PATH
      if: ${{ matrix.os == 'macos-latest' }} && ${{ matrix.conda_type == 'miniconda' }}
      working-directory: ${{ github.workspace }}
      run: |
        curl -O https://repo.anaconda.com/miniconda/Miniconda3-latest-MacOSX-x86_64.pkg
        Start-Process "Miniconda3-latest-MacOSX-x86_64.pkg" "/S", "/D=${env:GITHUB_WORKSPACE}\miniconda3" -Wait
        "${env:GITHUB_WORKSPACE}/miniconda3/Scripts" | Out-File -FilePath $env:GITHUB_PATH -Append

    - name: Configure PowerShell for "conda activate"
      run: conda init powershell

    - name: Install message-ix
      run: |
        conda config --prepend channels conda-forge
        conda create --name ${{ env.CONDA_ENV }} --quiet message-ix pytest ${{ matrix.extra_deps }}

    - name: Check
      # Check environment and run a single test from the suite to test code path to ixmp JDBCBackend
      run: |
        conda activate ${{ env.CONDA_ENV }}

        conda info

        message-ix show-versions
        ixmp --platform default list

        conda list
        pytest --pyargs message_ix.tests.test_core::test_add_cat -p ixmp.testing -p no:faulthandler
